

.footer {
    background-color: black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    &__title {
        font-size: 20px;
        color: white;
    }
}